/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}
/* Colors */

$purple: hsl(259, 100%, 65%);
$light_red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off_white: hsl(0, 0%, 94%);
$light_grey: hsl(0, 0%, 86%);
$smokey_grey: hsl(0, 1%, 44%);
$off_black: hsl(0, 0%, 8%);
